# Java
frontend-java/target/

# Python
backend-python/.venv/
backend-python/__pycache__/

# Environment
.env
*.env

# VS Code
.vscode/*.log

# Operating system
.DS_Store
Thumbs.db

# ML
datasets/raw/
models/experimental/

# Logs
*.log